

.name_Form {
    border-radius: 8px;
    border: 1px solid gray;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;

    width: 220px;
    height: 30px;
}

.btn_Form {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1.5px solid #263A29;
    background: #C9F4AA;
    font-weight: bold;
    color: black;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    transition: 0.3s;
    cursor: pointer;
}

.btn_Form:hover{
    color: white;
    background: #3D8361;
    border: 1.5px solid #C9F4AA;
    font-weight: bold;
}

.form_Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
