.header_Home {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #263A29;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.header_Home-text{
    font-family: 'Exo 2', sans-serif;
    font-size: 64px;
    margin-bottom: 12px;
}

.btn_Home:hover{
    color: white;
    background: #3D8361;
    font-weight: bold;
}